# List of folders & file names/extensions to be ignored by the git repository.
src/stdbool.h
src/stdint.h
src/pic18f66k22.h

STAND_CHATTER.X/funclist
STAND_CHATTER.X/l.obj
STAND_CHATTER.X/build
STAND_CHATTER.X/dist
STAND_CHATTER.X/nbproject/*
